---
import type { HTMLAttributes } from 'astro/types'
import type { CollectionEntry } from 'astro:content'
import FormattedDate from '~/components/FormattedDate.astro'

type Props = HTMLAttributes<'a'> & CollectionEntry<'notes'>['data'];

const {
	title,
	description,
	publishDate,
	duration,
	heroImage,
	tags,
	lang,
	...props
} = Astro.props;
---
<a
	class="daisy-card group overflow-hidden p-4 shadow-inner shadow-secondary"
	{...props}
>
	<!-- mask -->
	<div class="absolute z-[-1] rounded-2xl inset-8 group-hover:inset-0 transition-all bg-sky-500" />
	{
		heroImage && (
			<figure>
				<img class="s-full object-cover daisy-image-full rounded-2xl" src={heroImage} alt="" />
			</figure>
		)
	}
	<div
		class="space-y-2"
	>
		<h1 class="daisy-card-title flex-wrap lg:text-2xl">
      # {title}
			{
				lang.startsWith('zh') && (
					<span class="daisy-badge items-stretch daisy-badge-neutral">
            中文
					</span>
				)
			}
		</h1>
		<p class="text-neutral text-xs sm:text-sm">
			<FormattedDate date={publishDate} />
      · {duration}
		</p>
		<p class="text-sm sm:text-base multi-ellipsis-[3]">{description}</p>
		{
			tags && (
				<div class="flex flex-wrap gap-2">
					{tags.map(tag => (
						<span class="daisy-badge daisy-badge-outline daisy-badge-secondary">
							{tag}
						</span>
					))}
				</div>
			)
		}
	</div>
</a>
