---
import type { CollectionEntry } from 'astro:content'
import type { HTMLAttributes } from 'astro/types'
import FormattedDate from '../FormattedDate.astro'

type Props = HTMLAttributes<'a'> & CollectionEntry<'notes'>['data']

const { title, description, publishDate, heroImage, duration, tags, ...props } = Astro.props;
---

<a
	class="daisy-card daisy-card-bordered shadow-lg hover:border-primary"
	{...props}
>
	{
		heroImage && 
    (
    	<figure>
    		<img class="daisy-image-full" src={heroImage} alt="" />
    	</figure>
    )
	}
	<div class="daisy-card-body">
		<h1 class="mt-2 daisy-card-title sm:text-3xl">{title}</h1>
		<p class="text-neutral text-sm">
			<FormattedDate date={publishDate} />
			· {duration}
		</p>
		<p class="sm:text-lg">{description}</p>
		{
			tags &&
			<div class="flex gap-2">
				{tags.map((tag) => <span class="daisy-badge daisy-badge-outline daisy-badge-primary">{tag}</span>)}
			</div>
		}
	</div>
</a>